*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
.primary-btn{
    background: #FF5959;
    width: 150px;
    padding: 10px 0px; 
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    border: none;
    border-radius: 6px;
}
.primary-color{
    color: #FF5959;
}
.bottom-space{
    margin-bottom: 30px;
}
/* header */
header{
    background-image: url("../images/donation1.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
header nav{
    display: flex;
    padding: 4% 10%;
    justify-content: space-between;
}
header nav .logo-text{
    font-size: 45px;
    color: white;
    font-weight: 800;
}
header nav ul{
    display: flex;
    gap: 40px;
    align-items: center;
}
header nav ul li{
    list-style: none;
    align-items: center;
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
header nav ul li a:hover{
    color: #FF5959;
}
/* header-content */
.header-content{
    color: white;
    padding: 11% 15%;
    text-align: center;
}
.donate-title{
    font-size: 65px;
    margin-bottom: 30px;
}
.donate-desc{
    font-size: 20px;
    color: #e1dede;
    margin-bottom: 30px;
}
/* main-content */
.main-content{
    padding: 4% 10%;
}

/* Donate Today */
.donate-today{
    text-align: center;
}
.today-title{
    font-size: 45px;
    margin: 30px 0;

}
.today-desc{
    font-size: 20px;
    color: #757575;
    margin-bottom: 40px;
}
.box-tk{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
}
.all-boxes{
    background-color: #FAFAFA;
    padding: 20px 40px;
    border: 2px solid #757575;
}
.all-boxes:hover{
    border: 2px solid #FF5959;
    color: #FF5959;
    cursor: pointer;
}
.other-tk{
    color: #757575;
    margin-bottom: 10px;
}
.hr-today{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}
/* Donate Plan */
.donate-plan{
    margin-top: 80px;
}
.donate-title-desc{
    text-align: center;

}
.donate-title-desc-sub{
    font-size: 20px;
    color: #757575;
}
.donate-box{
    display: flex;
    gap: 20px;
    margin-top: 40px;
}
.donate-box-3{
    background-color: rgba(79, 157, 166, 0.1);
    padding: 40px 20px;
    border-radius: 10px;
}
.food-box-title{
    margin: 20px 0;
}
/* live-depend */
.live-depend{
    display: flex;
    margin: 80px 0;
    gap: 50px;
}
.depend-img{
    width: 80%;
}
.depend-desc-1{
    font-size: 20PX;
    color: #757575;
}
.depend-desc{
    margin-top: 10px;
    color: #757575;
    font-size: 20px;
}
/* My update */
.my-update{
    text-align: center;
    margin-top: 100px;
}
.update-title{
    margin: 30px 0;
    font-size: 45px;
}
.update-desc{
    font-size: 20px;
    color: #757575;
    margin-bottom: 30px;
    
}
/* Email sec */
.email-sec{
    padding: 6% 10%;
    background-color: #FFF4D6;
}
.email-sec > input{
    width: 220px;
    padding: 10px 0;
    font-size: 16px;
}
.submit-btn{
        background: #FF5959;
        width: 150px;
        padding: 12px 0px; 
        font-size: 16px;
        font-weight: 400;
        color: #FFF;
        border: none;
        margin-left: -5px;
}
.footer{
    text-align: center;
    padding: 80px 0;
    background-color: #0B0D17;
}
.footer>h2{
    color: #FF5959;
    font-size: 35px;
    padding-bottom: 30px;
    font-style: italic;
}
.footer>p{
    color: #757575;
}